// @flow
<template>
	<div id="fileInputAndList">
		<p>
			Pull text information from images using the Tesseract.js library. No files are uploaded to a server. Drag and drop the files or click the box below to select the files.
		</p>
		<div id="fileInput">
			<label v-show="false" for="inputFile">
				Click button to load image(s)
			</label>
			<input v-show="false" type="file" @change="clickFiles($event)" 
			multiple id="inputFile">
			<div id="dropZone" @dragenter.stop.prevent @dragover.stop.prevent 
				@drop.stop.prevent="dragFiles($event)" @click="clickInput">
				Drag and drop files or click
			</div>
		</div>
	</div>
</template>

<script>
import FileItem from "./FileItem";
import VideoInput from "./VideoInput";

export default {
	methods: {
		clickFiles (e) {
			const files = [...e.target.files];		
			console.log(files);
			this.$emit("addFiles", files);
		},
		dragFiles (e) {
			const dt = e.dataTransfer;
			const files = [...dt.files];
			this.$emit("addFiles", files);
		},
		clickInput () {
			const inputEl = document.getElementById("inputFile");
			inputEl.click();
		}
	}
}
</script>

<style>
#fileInput {
	display:flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}
#dropZone {
	font-weight: bold;
	text-align:center;
	vertical-align: middle;
	padding: 50px 100px;
	border: 2px solid grey;
	outline: 2px dashed grey;
	outline-offset: -15px;
	background-color: #BAE8EB;
	color: darkblue;
}
#dropZone:hover {
	color: darkgreen;
	background-color: #BFEBBA;

}
ul {
	padding: 0px;
}
p {
	padding: 20px 20%;
	font-size: 20px;
}
</style>

