// @flow

<template>
	<li>
		<canvas :id="'file-' + index"></canvas>
		<div v-if="!(progress === 1 && tStatus === 'recognizing text')" id="progressElement">
			<label>{{ tStatus }}</label>
			<progress max="1" :value="progress"></progress>
		</div>
		<textarea v-else v-model=fileText></textarea>
		<button @click="$emit('remove')">X</button>
	</li>
</template>

<script>
import Tesseract from "tesseract.js";

export default {
	data: function() {
		return {
			fileText: "",
			tStatus: "",
			progress: 0
		};
	},

	props: ["file", "index"],

	mounted: function () {
		this.initEl();
	},
	computed: {
		id: function () {
			return `file-${this.index}`;
		}
	},
	methods: {
		initEl() {
			const canvas = document.getElementById(this.id);
			canvas.width = 600;
			canvas.height = 300;
			const ctx = canvas.getContext("2d");
			createImageBitmap(this.file)
				.then((img) => {
					ctx.drawImage(img, 0, 0, canvas.width, canvas.height);
					this.getText(img);
				})
			this.progress = 0;
			this.tStatus = "";
		},
		getText(imgBitmap) {
			const scale = 4;
			const canvas = document.createElement("canvas");
			canvas.width = imgBitmap.width * scale;
			canvas.height = imgBitmap.height * scale;
			const ctx = canvas.getContext("2d");
			ctx.drawImage(imgBitmap, 0, 0, canvas.width, canvas.height);
			Tesseract.recognize(ctx)
				.progress((message) => {this.progress = message.progress; this.tStatus = message.status; })
				.then((result) => {this.fileText = result.text.replace(/\n/g, " ")});
		}
	}
}


</script>

<style scoped>
textarea {
	width: 600px;
	height: 300px;
}
li {
	list-style-type: none;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
}
#progressElement {
	text-align:center;
	width: 600px;
}
</style>

