<template>
	<div id="inputPicker">
		<label for="fileInput">Select a file(s)</label>
		<input type="radio" id="fileInput" value="file" v-model="inputType">
		<label for="videoInput">Take a picture</label>
		<input type="radio" id="videoInput" value="video" v-model="inputType">
		<br>
		<fileInput v-if="inputType === 'file'" @addFiles="updateFiles">
		</fileInput>
		<videoInput v-else="inputType === 'video'"></videoInput>
		<ul>
			<li is="fileItem" v-for="(file, index) in files" :file="file" :index="index" :key="file.name" @remove="files.splice(index, 1)">
			</li>
		</ul>
	</div>
</template>

<script>
import FileInput from "./FileInput";
import VideoInput from "./VideoInput";

import FileItem from "./FileItem";

export default {
	data () {
		return {
			inputType: "file",
			files: []
		}
	},
	methods: {
		updateFiles (files) {
			console.log(files);
			this.files.unshift(...files);
		},
	},
	components: {
		fileInput: FileInput,
		videoInput: VideoInput,
		fileItem: FileItem,
	}
}
</script>

<style>
</style>
