<template>
	<div id="videoInputAndList">
		<video autoplay id="vidStream"></video>
		<canvas></canvas>
	</div>
</template>

<script>
export default {
	data () {
		return {
			localStream: null,
			vid: null
		};
	},
	created () {
		this.startStream();
	},
	beforeDestroy () {
		if(this.vid !== null && this.localStream !== null) {
			this.vid.pause();
			this.vid.src = "";
			this.localStream.getTracks()[0].stop();
		}
	},
	methods: {
		startStream () {
			const constraints = {
				audio: false,
				video: true
			};
			navigator.mediaDevices.getUserMedia(constraints)
				.then((stream) => {
					this.vid = document.getElementById("vidStream")
					this.localStream = stream;
					this.vid.srcObject = stream;
				})
				.catch((error) => {
					console.log(`video error: ${error}`);
				});
		},
	},
}
</script>

<style>
</style>
